
body{
    //margin: 0 auto;
    background: #555;    
}

    main{
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

        main img{
            max-width: 100%;
            display: block;
            border-radius: 5%;
        }

        .masonry-layout{
            --columns: 1;
            --gap: 2rem;
            display: grid;
            grid-template-columns: repeat(var(--columns),1fr);
            grid-gap: var(--gap);
            $columns: 4;

            @for $i from 1 through $columns{
                &.columns-#{$i}{
                    --columns: #{$i};
                }
            }
        }

        