<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Masonry Layout</title>
</head>
<body>
    
    <main id="gallery">

        <div class="item-img"><img src="../../../source/img/g-1.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-2.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-3.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-4.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-5.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-6.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-7.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-8.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-9.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-10.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-11.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-12.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-13.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-14.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-15.jpg" alt="img gallery"></div>
        <div class="item-img"><img src="../../../source/img/g-16.jpg" alt="img gallery"></div>

    </main>

    <script type="text/javascript" src="main.js"></script>


</body>
</html>